@model TaskManage.Models.TaskTable

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TaskTable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Task_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Task_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Task_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Task_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Task_Dedline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Task_Dedline)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Task_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
